@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hovered: #ca45db;
}
@font-face {
  font-family: borish;
  src: url(./fonts/Borish.ttf);
}
@font-face {
  font-family: paragraphs;
  src: url(./fonts/Melodrama_Complete/Fonts/OTF/Melodrama-Light.otf);
}
@font-face {
  font-family: Satoshi;
  src: url(./fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf);
}
@font-face {
  font-family: Logo-font;
  src: url(./fonts/Audiowide/Audiowide-Regular.ttf);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --hovered: #e756a6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}
P {
  font-family: Satoshi;
  z-index: 672;
  line-height: 1.8em;
}
h1,
.hero {
  font-size: 145px;
  line-height: 145px;
  z-index: 672;
  font-family: borish;
}
h2 {
  font-size: 100px;
  line-height: 125px;
  z-index: 672;
  font-family: borish;
}

.alternate-heading {
  font-family: paragraphs;
}
.headish,
h3 {
  font-family: borish;
}
.Madividi underlining {
  text-decoration: underline;
}
.boldentext {
  font-size: 26px;
  font-weight: lighter;
  line-height: 1.8em;
}

.landingly {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4em;
  font-family: borish;
  overflow-x: hidden;
}
.landingly-mobile {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 4em;
  overflow-x: hidden;
}
/*.landingly h1 {
  font-size: 181px;
  line-height: 143px;
  font-weight: lighter;
}
  */
.mobile-h1 {
  font-size: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.thirdpager {
  display: flex;
  width: 30vw;
}
.underlining {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.testimonials-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  position: relative;
  margin-top: 1rem;
}
.footing {
  font-family: Satoshi;
}
.placecenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.web-design {
  border-radius: 2%;
  position: absolute;
  left: 10%;
  rotate: -9deg;
}
.branding {
  border-radius: 5%;
  position: absolute;
  left: 40%;
  rotate: 20deg;
}
.graphic-design {
  border-radius: 5%;
  position: absolute;
  left: 10%;
  top: 94%;
  rotate: 40deg;
}
.web-dev {
  border-radius: 5%;
  position: absolute;
  right: 20%;
  top: 50%;
}
.product-design {
  border-radius: 5%;
  position: absolute;
  left: 60%;
  top: 90%;
  rotate: -20deg;
}

input[type="text"],
input[type="Email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  font-family: Satoshi;
}
label {
  font-family: Satoshi;
  color: grey;
}
input {
  color: #ffffff;
}
.Logo {
  font-family: Logo-font;
}
